.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.container > .timers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container > .lists > .listRow {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  text-align: center;
}

.container h1 {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.settingsButton {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #010101;
  border-color: gray;
  border-radius: 10%;
  color: white;
  padding: 5px;
}

